@import "bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}

#my-main-nav {
    width: 16rem;
    top: 0;
}

#my-main-ul-wrapper {
    width: 16rem;
}

#my-main-nav ul a:hover {
    background-color: $gray-600;
}

@include media-breakpoint-up(lg) {
    #my-main-nav.my-main-nav-hidden {
        transform: translateX(-100%);
        position: fixed;
    }
}

// Take over the padding from the accordion items because we display them in the main nav as well.
#my-main-ul-wrapper .nav-link {
    padding-top: $accordion-padding-y !important;
    padding-bottom: $accordion-padding-y !important;
    padding-left: $accordion-padding-x !important;
    padding-right: $accordion-padding-x !important;
}

.my-svg-icon {
    width:1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
}